.dashboard--container {
  width: 100%;
  height: 100%;
  padding: 20px 37px 37px 37px;
}

.nav-router--container {
  display: flex;
  align-items: center;
  width: 143px;
  justify-content: space-between;
}

.cards-top {
  margin-top: 30px;
}

.cards-and_table--container {
  display: flex;
}
