@import "./navbar.scss";
@import "./dashboard.scss";
@import "cards-top.scss";
@import "./cards-side-left.scss";
@import "./card-table.scss";
// @import "../assets/fonts/ProductSans-Black.ttf";
// @import "../assets/fonts/ProductSans-BlackItalic.ttf";
// @import "../assets/fonts/ProductSans-Bold.ttf";
// @import "../assets/fonts/ProductSans-BoldItalic.ttf";
// @import "../assets/fonts/ProductSans-Italic.ttf";
// @import "../assets/fonts/ProductSans-Light.ttf";
// @import "../assets/fonts/ProductSans-LightItalic.ttf";
// @import "../assets/fonts/ProductSans-Medium.ttf";
// @import "../assets/fonts/ProductSans-MediumItalic.ttf";
// @import "../assets/fonts/ProductSans-Regular.ttf";
// @import "../assets/fonts/ProductSans-Thin.ttf";
// @import "../assets/fonts/ProductSans-ThinItalic.ttf";

* {
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.grey {
  color: #9696a0;
}

.bold {
  font-weight: 700;
}

.md-bold {
  font-weight: 400;
}

.green {
  color: #3ab65c;
}

.blue {
  color: #3c3ab6;
}

.red {
  color: #b63a3a;
}

.text-reg {
  font-size: 14px;
}

.text-small {
  font-size: 12px;
}
