.navbar--container {
  height: 60px;
  border-bottom: 1px solid #dce1e7;
  display: flex;
  align-items: center;
  padding: 0 10px 0 30px;
}

.inner-nav--container {
  display: flex;
  justify-content: space-between;
  width: 88%;
}

.list-nav {
  list-style: none;
  display: flex;

  justify-content: space-between;
  width: 320px;
  height: 60px;
}

.anormality {
  margin-top: 3px;
}

.logo--container {
  width: 220px;
  display: flex;
  align-items: center;
}

.left-items-nav {
  display: flex;
  align-items: center;
  width: 320px;
  justify-content: space-between;
}

.nav-item {
  width: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  height: 60px;
  cursor: pointer;
  padding: 5px 4px 4px 4px;
  outline: 1px solid #fff;
  border-bottom: 5px solid transparent;
  color: #778699;

  &:hover {
    background-color: #deefff;
    outline: 0px solid transparent;
    border-bottom: 5px solid #006fd6;
    color: #006fd6;

    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
}

.list-nav > .nav-item:hover > .icon > svg > path {
  fill: #006fd6;
}

.input {
  border: 1px solid #dce1e7;
  height: 35px;
  border-radius: 5px;
  width: 190px;
}

.search-bar {
  width: 190px;
}

.search-icon {
  position: absolute;
  top: 22px;
  right: 18.5rem;
}

.profile--container {
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 100%;
  align-items: center;
}

.avatar {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: #d8d8d8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}
